* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.container {
   position: relative;
   width: 1140px;
   margin: 0 auto;
}

.promo {
   height: 800px;
   background: url("../img/menu.jpg") center center/cover no-repeat;
   padding: 39px 0 62px 0;
}
.logo .logo_img {
   display: block;
   margin: 0 auto 14px;

}
h1 {
   margin-top: 53px;
}
.logo .logo_text {
   color: aliceblue;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 500;
   line-height: 24px;
   text-transform: uppercase;
   text-align: center;
}


.title {
   color: #f9bf3b;
   font-family: "Roboto-Black";
   font-size: 41px;
   font-weight: 400;
   line-height: 24px;
   text-transform: uppercase;
   text-align: center;
}

h2.title {
   margin-top: 30px;
}
.simple .title_big {
   color: aliceblue;
   font-family: "Roboto-Black";
   font-size: 80px;
   font-weight: 400;
   text-transform: uppercase;
   text-align: center;
   margin-top: 21px;
}

.promo .promo_text {
   color: rgb(255, 255, 255);
   font-size: 21px;
   font-family: "Roboto Light";
   line-height: 28px;
   font-weight: 300;
   text-align: center;
   padding: 0 13px;
   margin-top: 13px;
       
}

.promo .promo_text span {
   color: #f9bf3b;
   font-family: "Roboto-Bold";
   font-weight: 700;
}

.promo .promo_btn, .present .present_btn {
   display: block;
   margin: 0px auto;
   margin-top: 73px;
   width: 313px;
   height: 72px;
   box-shadow: inset  0 0 0 rgba(0, 0, 0, 0.18);
   border: solid 4px rgba(0, 0, 0, 0.23);
   background-image: linear-gradient(to top, #2798b9, #3ab6da);
   text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
   font-family: Roboto;
   font-size: 21px;
   font-weight: 400;
   line-height: 24px;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}
.present .present_btn {
   border: solid 4px rgba(0, 0, 0, 0.11);
   border-radius: 4px;
   margin-top: 52px;
}

.more {
   margin-top: 73px;
}

.more .more_text {
   color: rgb(255, 255, 255);
   font-family: "Roboto - Thin";
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   text-transform: uppercase;
   text-align: center;
}
.more .more_img {
   display: block;
   margin: 0 auto;
   margin-top: 13px;

}

.waiting {
   min-height: 604px;
   background-color: #efefef;
   padding: 85px 0 75px 0;
}
.waiting .waiting_header {
   font-family: Roboto;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #252525;
}

.waiting .waiting_divider {
   width: 217px;
   height: 4px;
   margin: 0 auto;
   margin-top: 18px;
   background-color: #f9bf3b;
}

.waiting .waiting_subheader {
   margin-top: 18px;
   font-family: Roboto;
   font-size: 23px;
   text-align: center;
   color: #4a4a4a;
}
.waiting_wrapper {
   margin-top: 45px;
   display: flex;
   justify-content: space-between;
}
.waiting_wrapper .waiting_item {
   flex-direction: row;
  
   width: 339px;
   text-align: center;
   
}
.waiting_wrapper .waiting_item .waiting_img {
   width: 100%;
}

.waiting_wrapper .waiting_item .text_descr {
   margin-top: 33px;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
   color: #4a4a4a;
}

.optimization {
   min-height: 550px;
   padding: 102px 0 107px 0;
}

.optimization .optimization_header {
   margin-left: 391px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
   color: #299cbd;
}
.optimization .optimization_text {
   margin-left: 391px;
   margin-top: 25px;
   font-family: Roboto;
   font-size: 17px;
   font-weight: 300;
   line-height: 27px;
   text-align: justify;
   color: #4a4a4a;
}
.optimization .optimization_text span {
   font-weight: bold;
}

.optimization .optimization_img {
   position: absolute;
   top: -54px;
   left: -240px;
   z-index: -1;
}

.finish .finish_header {
   font-family: Roboto;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
}

.finish .finish_divider {
   width: 217px;
   height: 4px;
   margin: 0 auto;
   margin-top: 23px;
   background-image: #f9bf3b;
}

.finish {
   min-height: 447px;
   padding: 86px 0 79px 0;
   background: url('../img/footer_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
   display: flex;
   flex-direction: row;
   margin-top: 41px;
   justify-content: space-between;
}

.finish .finish_item {
   width: 204px;
   text-align: center;
}

.finish .finish_text {
   margin-top: 25px;
   font-family: Roboto;
   font-size: 17px;
   font-weight: 300;
   line-height: 20px;
   color: #efefef;
}
.present {
   min-height: 628px;
   background-color: #efefef;
   padding: 86px 0 87px 0;
}
.present .present_img {
   display: block;
   margin: 0px auto;
   
}

.present .present_text {
   margin-top: 42px;
   font-family: Roboto;
   font-size: 30px;
   line-height: 43px;
   text-align: center;
   color: #252525;
}

.webinar {
   min-height: 515px;
   padding: 89px 0 64px 0;
}

.webinar .webinar_img {
   display: block;
   margin: 0 auto;
}

.webinar .webinar_first {
   font-family: Roboto;
   font-size: 30px;
   line-height: 12px;
   text-align: center;
   text-transform: uppercase;
   color: #252525;
   margin-top: 37px;
}
.webinar .webinar_time {
   font-family: Roboto;
   font-size: 36px;
   font-weight: 900;
   line-height: 12px;
   text-align: center;
   color: #299cbd;
   margin-top: 30px;
   text-transform: uppercase;
}

.webinar .webinar_note {
   font-family: Roboto;
   font-size: 23px;
   line-height: 20px;
   text-align: center;
   color: #4a4a4a;
   margin-top: 25px;
}

.footer {
   min-height: 166px;
   padding: 61px 0 69px 0;
   background-color: #1a1a1a;
}
.footer .footer_content {
   display: flex;
   justify-content: center;
}
.footer .footer_url1,.footer .footer_url2,.footer p {
   
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.4;
   letter-spacing: normal;
   text-align: center;
   color: #888;
}
